/*
  Credits: XMin Theme

  https://xmin.yihui.org/

  Tinted Themes (base16 gallery)

  https://tinted-theming.github.io/tinted-gallery/

  v0.1.0 Light: Atom Light
  v0.1.0  Dark: Oxocarbon Dark
*/
:root[data-theme="light"] {
  /* --------------- Base Colors ----------------  */
  --base00: #fafafa; /* Default Background | Surface */
  --base01: #f0f0f1; /* Lighter Background */
  --base02: #e5e5e6; /* Selection Background | Surface 2 */
  --base03: #a0a1a7; /* Comments, Invisibles */
  --base04: #696c77; /* Dark Foreground */
  --base05: #383a42; /* Default Foreground */
  --base06: #202227; /* Light Foreground | Default Text */
  --base07: #090a0b; /* Light Background */

  /* --------------- Syntax Colors ---------------  */
  --base08: #ca1243; /* Variables, Tags */
  --base09: #d75f00; /* Numbers, Constants */
  --base0A: #c18401; /* Classes, Markup */
  --base0B: #50a14f; /* Strings, Changed */
  --base0C: #0184bc; /* Support, Regular */
  --base0D: #4078f2; /* Functions, Methods */
  --base0E: #a626a4; /* Keywords, Storage */
  --base0F: #986801; /* Deprecated, Opening */
}

:root[data-theme="dark"] {
  --base00: #161616;
  --base01: #262626;
  --base02: #393939;
  --base03: #525252;
  --base04: #dde1e6;
  --base05: #f2f4f8;
  --base06: #ffffff;
  --base07: #08bdba;
  --base08: #3ddbd9;
  --base09: #78a9ff;
  --base0A: #ee5396;
  --base0B: #33b1ff;
  --base0C: #ff7eb6;
  --base0D: #42be65;
  --base0E: #be95ff;
  --base0F: #82cfff;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--base00);
  color: var(--base06);
}

html,
body,
* {
  /* TODO: Display, Sans, Monospace fonts */
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;

  /* TODO: Reset */
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 1.125em;
}

header, footer {
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  border: 1px var(--base0F) dashed;
  border-left: 0;
  border-right: 0;
}

footer {
  border-bottom: 0;
  justify-content: center;
}

header {
  border-top: 0;
  justify-content: space-between;
}

header h1 {
  font-size: 2em;
  color: var(--base08);
}

main {
  max-width: 800px;
  margin: auto;
  padding: 0 1em;
  hyphens: auto;
}

article {
  padding: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.025em;
  color: var(--base07);
}

a,
[data-toggle] {
  color: var(--base08);
}

a:hover,
[data-toggle]:hover {
  color: var(--base09);
}

nav button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

em {
  color: var(--base0D);
}

strong {
  color: var(--base09);
}

blockquote {
  color: var(--base0D);
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

pre,
code {
  color: var(--base07);
  background-color: var(--base01);
}

nav {
  padding: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav a, nav button {
  text-decoration: none;
  background: var(--base02);
  padding: 5px;
  border-radius: 5px;
}

nav,
footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: #ddd;
}

pre {
  border: 1px solid var(--base01);
  box-shadow: 5px 5px 5px var(--base02);
  padding: 1em;
  overflow-x: auto;
}

pre code {
  background: none;
}

img,
iframe,
video {
  max-width: 100%;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: var(--base02);
}
