<!DOCTYPE html>
<html lang="en" data-theme="{{ .Theme }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .DocTitle }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <main>
        <header>
            <h1>{{ .PageTitle }}</h1>
            {{/* TODO: Remove hardcoded links */}}
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="http://desertthunder.substack.com" target="_blank">Blog</a>
                    </li>
                    <li>
                        <a href="http://github.com/desertthunder" target="_blank">Github</a>
                    </li>
                    <li>
                        <a href="http://bsky.app/profile/desertthunder.substack.com" target="_blank">BlueSky</a>
                    </li>
                    <li><button data-toggle></button></li>
                </ul>
            </nav>
        </header>

        <article>
            {{ .Contents }}
        </article>

        <footer>
            &copy; 2025 Made with ⚡️ by Owais
        </footer>
    </main>
    <script src="/assets/theme.js"></script>
</body>

</html>
